Source: python-requests-toolbelt
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Emmanuel Arias <eamanu@yaerobi.com>
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep:
 dh-python,
 python3-sphinx,
 python3-sphinx-rtd-theme,
 python3-doc,
 python3-all,
 python3-requests,
 python3-setuptools,
Standards-Version: 4.5.1
Testsuite: autopkgtest-pkg-python
Homepage: https://pypi.python.org/pypi/requests-toolbelt
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-requests-toolbelt
Vcs-Git: https://salsa.debian.org/python-team/packages/python-requests-toolbelt.git

Package: python3-requests-toolbelt
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Utility belt for advanced users of python3-requests
 Collection of utilities for python3-requests
 It provides transport adapters: FingerprintAdapter, SSLAdapter,
 SourceAddressAdapter, SocketOptionsAdapter, TCPKeepAliveAdapter
 and authenticators: AuthHandler, GuessAuth, HTTPProxyDigestAuth
 Also a cookiejar, streaming helpers and more.

Package: python-requests-toolbelt-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Utility belt for python3-requests (documentation)
 Collection of utilities for python3-requests: documentation
 It provides transport adapters: FingerprintAdapter, SSLAdapter,
 SourceAddressAdapter, SocketOptionsAdapter, TCPKeepAliveAdapter
 and authenticators: AuthHandler, GuessAuth, HTTPProxyDigestAuth
 Also a cookiejar, streaming helpers and more.
